<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fshzip" version="0.1.1.0" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="SharpZipLib.Portable" version="0.86.0.0001" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>